@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&family=Rubik:ital@0;1&display=swap');

:root {
  --dark1: #000f08;
  --gray1: #4d4847; /*davy-gray*/
  --theme-color1: #2a2d34ff; /* gunmental */
  --theme-color2: #30c5ffff; /* deep-sky-blue */
  --theme-color3: #f9e0d9ff; /* misty-rose */
  --theme-color4: black;
  --accent1: #5c946eff; /* sea-green */
  --accent2: #ffca3aff; /* sunglow */
  font-size: xx-large;
  background-image: linear-gradient(var(--dark1), var(--theme-color4));
  color: white;
}

* {
  font-family: 'Rubik';
  /* Hide Scrollbar From IE, Edge, And Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

h2 {
  font-family: 'Jetbrains Mono';
  font-size: 0.8rem;
  font-weight: 200;
  margin: 0;
}

p {
  font-family: 'Rubik';
}

::-webkit-scrollbar {
  display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  text-align: center;
  min-height: 2em;
  display: flex;
  flex-direction: column;
  /*background-color: var(--theme-color2);*/
  justify-content: center;
  font-size: 1em;
}

nav {
  display: flex;
  font-size: 0.8em;
  font-family: 'Jetbrains Mono';
  height: fit-content;
  padding: 0.25em;
  /* background-color: var(--gray1); */
  /*background-blend-mode: var(--accent2);*/
  justify-content: space-around;
}

a {
  background-color: transparent;
  font-family: inherit;
  background-color: inherit;
  color: inherit;
  text-decoration: inherit;
}

WorkExperience {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
}

backdrop {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 250px;
  max-width: 25%;
  padding: 0.5rem;
  /*
  background-color: var(--theme-color1);
  border-radius: 0.5rem;
  */
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 0.5rem;
  gap: 1em;
}

.container.big {
  padding: 1.5em;
  margin: 5%;
  width: fit-content;

  /*
  background-color: var(--gray1);
  border-radius: 1.5rem;
  */
  border-color: var(--accent2);
  border-style: inset;
  transition: 1s ease-out;
}
.container.big:hover {
  border-color: var(--accent1);
  border-style: dashed;
}

.underline-hover {
  display: inline-block;
  position: relative;
  font-size: 0.8rem;
  padding-bottom: 0rem;
}
.underline-hover::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--accent1);
  transition: width 0.4s ease-out;
}
.underline-hover:hover::before {
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
